.title {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 56px;
  font-family: 微軟正黑體;
  font-weight: bolder;
  height: 120px;
}

.list {
  margin: 0px auto;
  /*div區塊置中*/
  font-weight: bold;
  /*粗體*/
  height: 80px;
  line-height: 80px;
  background-color: #ffbb66;
  text-align: center;
}

.label {
  font-size: 25px;
  border: 3px #00dddd solid;
  padding: 10px;
  margin: 50px;
  background-color: #ffee99;
  border-radius: 10px;
  cursor: pointer;
}

.label:hover {
  background-color: deeppink;
}

.content {
  text-align: center;
  font-size: 28px;
  margin: 50px;
}

.noti {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 28px;
  margin: 10px;
  line-height: 50px;
}

.pic {
  width: 40%;
  position: relative;
  right: 10%;
  left: 10%;
}

.kirby {
  width: 40%;
  height: 500px;
  position: relative;
  right: 30%;
  left: 30%;
}

